{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}

      {% block resuslt_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
                   
            <div class="results">
                <table cellspacing="0" id="result_list">
                <thead>
                <tr>
                {% for header in result_headers %}<th scope="col"{{ header.class_attrib }}>
                {% if header.sortable %}<a href="{{ header.url }}">{% endif %}
                {{ header.text|capfirst }}
                {% if header.sortable %}</a>{% endif %}</th>{% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for category in categories %}

                    <tr class="{% cycle 'row1' 'row2' %}">{{ category.name }}</tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            

        
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}

